html {
  min-height: 100%;
  position: relative;
  
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}


.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}


.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #3f976b !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color:#0f1424;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: rgb(105, 102, 102);
}
